* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --ligth-gray: #dbdbdb;
  --dark-gray: #bbbbbb;
  --o-green: #6ca437;
  --o-black: #333333;
}
