* {
  box-sizing: border-box;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

$ligth-gray: #dbdbdb;
$dark-gray: #bbbbbb;
$o-green: #6ca437;
$black: #333333;
