.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  position: relative;

  .header__menu {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 10px;

    .header-sub__menu {
      display: flex;
      flex-direction: column;

      ul {
        display: flex;

        li {
          margin-right: 10px;
          border-left: 1px solid rgba($color: #000000, $alpha: 0.3);

          a {
            padding-left: 10px;
            color: rgba($color: #000000, $alpha: 0.5);
            font-weight: 400;
          }

          &:first-child {
            border: none;
          }
        }
      }
    }
    .header-main__menu {
      display: flex;
      flex-direction: column;

      ul {
        display: flex;

        li {
          margin-right: 10px;
          border-left: 1px solid rgba($color: #000000, $alpha: 0.3);

          a {
            padding-left: 10px;
            color: rgba($color: #000000, $alpha: 0.5);
            font-weight: 400;
          }

          &:first-child {
            border: none;
          }
        }
      }
    }
  }

  .search-container {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-top: 45px;

    .search-box {
      position: relative;
      input {
        font-size: 22px;
        padding: 8px;
        padding-right: 70px;
      }
    }
    .search-button {
      all: unset;
      position: absolute;
      right: 15px;
      top: 30%;
    }
  }
  .logo {
    position: absolute;
    left: 48%;
    top: 45px;
  }
}
