* {
  box-sizing: border-box;
}
@mixin border-style {
  border: 1px solid #6ca437;
}
@mixin btn-style {
  color: #ffff;
  background-color: #6ca437;
}

.contents_All {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  .a_Img {
    width: 100%;
    height: 280px;
  }
  article {
    width: 700px;
    height: 1200px;
    .head {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 50px 0;
      header {
        font-size: 22px;
        font-weight: bold;
        color: #6ca437;

        padding-bottom: 10px;
      }
      .descrip {
        font-size: 12px;
        color: #6ca437;
        line-height: 1.5;
        text-align: center;
        border-top: 2px solid #6ca437;
        padding-top: 15px;
        margin-top: 5px;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      width: 100%;
      height: 80%;
      .inputBox_Id {
        width: 500px;
        height: 60px;
        margin-bottom: 10px;
        #identity {
          width: 80%;
          height: 90%;
          @include border-style;
        }
        .btnId {
          width: 20%;
          height: 90%;
          @include btn-style;
          @include border-style;
        }
      }
      .errMsg {
        color: red;
        padding-bottom: 15px;
      }
      .inputBox_Pw {
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 100px;
        #password {
          height: 100%;
          @include border-style;
        }
        #rePassword {
          margin-bottom: 10px;
          height: 100%;
          @include border-style;
        }
      }
      .member_Info {
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 180px;
        .name {
          margin-bottom: 10px;
          height: 100%;
          @include border-style;
        }
        .phone {
          margin-bottom: 10px;
          height: 100%;
          @include border-style;
        }
        .email {
          margin-bottom: 10px;
          height: 100%;
          @include border-style;
        }
      }
      .cellFirst {
        display: flex;
        width: 500px;
        height: 47px;
        .btn-serch {
          width: 30%;
          height: 100%;
          justify-content: space-between;
          @include btn-style;
          @include border-style;
        }
        .main_Address {
          display: flex;
          width: 70%;
          height: 100%;
          @include border-style;
        }
      }

      .second_Address {
        position: relative;
        width: 500px;
        height: 40px;
        @include border-style;
      }
      .recommend {
        display: flex;
        flex-direction: column;
        width: 500px;

        .recom_Img {
          margin-top: 10px;
          width: 100%;
        }
      }
      .finish {
        width: 500px;
        height: 50px;

        margin-top: 20px;
        .summit {
          width: 100%;
          height: 100%;
          @include btn-style;
          @include border-style;
        }
      }
      .rule {
        width: 380px;
        font-size: 12px;
        text-align: center;
        line-height: 1.2;
        margin-top: 15px;
        .look {
          color: #6ca437;
        }
      }
    }
  }
}
